@import "./bulma.min.css";

@font-face {
  font-family: "mono";
  src: url('Inconsolata-Regular.ttf') format("truetype");
}

* {
  font-family: "mono";
}

.button-backtotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}