@import "./bulma.min.css";

body{
  font-family: 'FiraCode Regular', sans-serif;
}

@font-face {
  font-family: "mono";
  src: url('FiraCode-Regular.ttf') format("truetype");
}

* {
  font-family: "mono";
}

.button-backtotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
}
